<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matrix Password Generator</title>
    <style>

        label {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <h1> Password Management Service </h1>

    <p style="text-align:right">
        Hi, {{user}}
        <a href='/logout'><button>Logout</button></a>
    </p>

    <div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    </div>

    <div>
        <form method="POST" action="/generate">
            <h3>You can now Create, Retrieve, Update and Delete passwords</h3>
            <h3>Use our app to generate a password!</h3>
            <label>Characters used: </label> <br>
            <input type="checkbox" name="caps" id="uppercase" checked>
            <label for="uppercase">Uppercase Letters (ABC)</label> <br>
            <input type="checkbox" name="num" id="numbers" checked>
            <label for="numbers">Numbers (123)</label> <br>
            <input type="checkbox" name="spchar" id="special_char" checked>
            <label for="special_char">Special Characters (#@!)</label> <br>
            <input type="submit" value="Generate Password">

        </form>
    </div>

    <div>
        <p><a href="create">Save New Password</a></p>
        <p><a href="retrieve">Retrieve Passwords</a></p>
        <p><a href="delete">Delete Passwords</a></p>
        <p><a href="update">Update Password</a></p>
    </div>


</body>


</html>
